body {
    margin: 0px;
    background-color: #F5F5F5; 
    font-family: 'Poppins', sans-serif;
}
h1 {
    margin-left: 20px;
    color: #212529;
}
.calculator {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.displayContainer {
    width: 355px;
    height: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: black;
    color: #F5F5F5;
    display: flex;
    justify-content: end;    
}
#display {
    font-size: 65px;
    padding-right: 35px;
    display: inline-block;
    align-self: flex-end;
}
.tools {
    display: flex;
}
#numbers {
    width: 250px;
    height: 450px;
    padding: 0px 0px 10px 10px;
    border-bottom-left-radius: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.numberTool {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: #FFA500;
    color: #F5F5F5;
}
.numberButton {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: #525252;
    color: #F5F5F5;
}
#zero {
    width: 150px;
    height: 75px;
    border-radius: 50px;
}
.decimal {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: #525252;
    color: #F5F5F5;
}
#operations {
    width: 85px;
    height: 450px;
    padding: 0px 10px 10px 0px;
    border-bottom-right-radius: 25px;
    font-size: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}
.operatorButton {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bolder;
    background-color: #FFA500;
    color: #F5F5F5;
}
#runOperation {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: #FFA500;
    color: #F5F5F5;
}
footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212529;
    color: #EEEEEE;
}
a {
    text-decoration: none;
    color: #EEEEEE;
}